<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jafa.repository.BoardRepository">
	
	<insert id="ask">
		insert into pro_board(bno, tag, title, content, writer) 
		values(spring_board_seq.nextval,'ask', #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="notice">
		insert into pro_board(bno, tag, title, content, writer) 
		values(spring_board_seq.nextval,'notice', #{title}, #{content}, #{writer})
	</insert>
	
	<select id="noticeList">
		select * from pro_board where tag='notice' order by mno desc
	</select>
	
	<select id="askList">
		select * from pro_board where tag='ask' order by mno desc
	</select>	
	
</mapper>