<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jafa.repository.BoardRepository">
	
	<insert id="ask">
		insert into pro_board(bno, tag, title, content, writer) 
		values(pro_board_seq.nextval,'ask', #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="notice">
		insert into pro_board(bno, tag, title, content, writer) 
		values(pro_board_seq.nextval, 'notice', #{title}, #{content}, #{writer})
	</insert>
	
	<select id="noticeList" resultType="com.jafa.domain.BoardVO">
		<![CDATA[
		select 
			rn, bno, tag, title, content, writer, views, writedate
		from
		(SELECT 
			/*+ index_desc(pro_board pk_pro_board) */ 
			rownum rn, bno, tag, title, content, writer, views, writedate
		from pro_board where rownum <= #{maxRow}
		and tag like 'notice'
		) where rn > #{minRow}
		]]>
	</select>
	
	<select id="noticeDetail" resultType="com.jafa.domain.BoardVO">
		select * from pro_board where bno=#{bno}
	</select>
	
	
	<select id="askList" resultType="com.jafa.domain.BoardVO">
		<![CDATA[
		select 
			rn, bno, tag, title, content, writer, views, writedate
		from
		(SELECT 
			/*+ index_desc(pro_board pk_pro_board) */ 
			rownum rn, bno, tag, title, content, writer, views, writedate
		from pro_board where rownum <= #{maxRow}
		and tag like 'ask'
		) where rn > #{minRow}
		]]>
	</select>
	
	<select id="askDetail" resultType="com.jafa.domain.BoardVO">
		select * from pro_board where bno=#{bno}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from pro_board
	</select>
	
	<select id="getNoticeTotalCount" resultType="int">
		select count(*) from pro_board where tag='notice'
	</select>
	
	<select id="getAskTotalCount" resultType="int">
		select count(*) from pro_board where tag='ask'
	</select>
	
	<delete id="delete">
		delete from pro_board where bno=#{bno}
	</delete>
	
	<update id="updateViews">
	    UPDATE pro_board
	  	SET views = views + 1
	    WHERE bno=#{bno}
	</update>
	
</mapper>